<div class="col-md-6 offset-md-3 jumbotron">
    <h1>Login</h1>
    @if(!String.IsNullOrEmpty(ViewBag.Message))
            {
                <span class="text-danger">ViewBag.Message</span>
            }
    <form method="post" action="/account/login">
        <input type="text" class="from-control" name="email" placeholder="Email" />
        <br />
        <input type="password" class="form-control" name="password" placeholder="Password" />
        <br />
        <button class="btn btn-primary btn-lg btn-block">Login</button>
        <a href="/account/signup">Dont have an account? Sign up here!</a>
    </form>
</div>