<div class="col-md-6 offset-md-3 jumbotron">
    <h1>Sign Up!</h1>
    <form method="post" action="/action/signup">
        <input type="text" class="form-control" name="name" placeholder="Your name" />
        <br />
        <input type="text" class="form-control" name="email" placeholder="Email" />
        <br />
        <input type="password" class="form-control" name="password" placeholder="Password" />
        <br />
        <button class="btn btn-primary btn-lg btn-block">Sign up!</button>
    </form>
</div>
